body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-image: url("C:/Users/yuriy/my_project/src/media/Background.jpg");
}

.ListsElement {
	width: 50%;
	margin: auto;
}

.FlexboxMain {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.FlexboxFirst {
	margin-right: auto;
}

.FlexboxSecond {
	position: absolute;
	right: 3px;
	top: 3px;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.MainStyleFromInput {
  width: 55%;
  margin: 12.6% auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}