body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-image: url("C:/Users/yuriy/my_project/src/back.jpg");
}

.ListsElement {
	width: 50%;
	margin: auto;
}

.flexboksMain {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.flexboksfirst {
	margin-right: auto;
}

.flexbokssecond {
	position: absolute;
	right: 3px;
	top: 3px;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}
/*.ButtonsStyle {
	position:fixed;
    margin-left: 70%;
    margin-top:-30px;
    display:block;
}*/

.root {
  width: 55%;
  margin: 12.6% auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

/*
.ChecboxSize {
	width: 35px;
    height: 35px;
}*/


/*.righ {
	float: right;
}
*/


